header{
    background-color: rgba(255, 255, 255, 0.719);
    backdrop-filter: blur(80px);
}
section{
    margin-top: 100px;
}
footer div div {
    padding: 5px;
}
#menu-btn{
    display: none;
}
header button{
    display: inline;
}
#close{
    display: none;
}
.modal-overlay{
    background-color: rgba(87, 87, 87, 0.247);
}
.modal{
    width: 90vw;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    animation: modal-drop 1s;
}
.modal-close img{
    margin-top: -25px;
}
.modal-body button{
    padding-bottom: 50px;
}
@media screen and (max-width: 830px) {
    #menu-btn{
        display: inline;
        width: 50px;
    }
    #menu{
        position: absolute;
        display: block;
        width: 100vw;
        background-color: rgb(58, 58, 58);
        padding: 10px;
        left: 0px;
        color: white;
    }
    #menu div{
        padding: 10px;
        margin-left: 25px;
    }
    #close{
        position: absolute;
        display: block;
        top: 20px;
        right: 20px;
    }
    .drop{
        animation: drop 1.5s;
        top: 0px;
    }
    .drag {
        animation: drag 1.5s;
        top: -500px;
    }
}
@media screen and (max-width: 550px) {
    #wallet-btn{
        font-size: small !important;
        height: 40px;
        margin-top: 5px;
    }
}
@keyframes drop {
    0%{top: -500px;}
    100%{top: 0px;}
}
@keyframes drag {
    0%{top: 0px;}
    100%{top: -500px;}
}
@keyframes modal-drop {
    0%{
        margin-top: -50px;
        opacity: 0;
    }
    100%{
        margin-top: 50px;
        opacity: 1;
    }
}