.Places{
    margin-top: 150px;
}
.settings-btn{
    margin-top: -10px;
}
@media screen and (max-width: 750px) {
    .Places{
        margin-top: 100px;
    }
    .types{
        margin: auto;
    }
    .types div{
        padding: 5px;
    }
}