.NFT{
    font-size: small;
    border-radius: 20px;
    width: 20vw !important;
}
.nft{
    width: 100% !important;
}
/* @media screen and (max-width: 615px) {
    .nft {
        width: 145px;
        margin: auto;
    }
    .NFT{
        word-wrap: wrap;
    }
    .NFT .flex{
        display: block !important;
    }
} */
@media screen and (max-width: 1024px) {
    .NFT {
        width: 40vw !important;
        margin: auto;
    }
}
@media screen and (max-width: 480px) {
    .NFT {
        width: 75vw !important;
    }
}